USE [master]
GO
/****** Object:  Database [KHO_BANHANG]    Script Date: 5/10/2025 1:37:07 PM ******/
CREATE DATABASE [KHO_BANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KHO_BANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KHO_BANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KHO_BANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KHO_BANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KHO_BANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KHO_BANHANG]
GO
/****** Object:  Table [dbo].[tb_DVT]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DVT](
	[IDDVT] [int] IDENTITY(1,1) NOT NULL,
	[TENDVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_DVT] PRIMARY KEY CLUSTERED 
(
	[IDDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HANGHOA]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HANGHOA](
	[IDHH] [int] IDENTITY(1,1) NOT NULL,
	[TENHH] [nvarchar](500) NULL,
	[DONGIA] [float] NULL,
	[MOTA] [nvarchar](2000) NULL,
	[DISABLED] [bit] NULL,
	[DVT] [nvarchar](50) NULL,
	[IDNCC] [nvarchar](50) NULL,
	[IDNHOM] [int] NULL,
 CONSTRAINT [PK_tb_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[IDHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HOADON]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOADON](
	[IDHD] [int] IDENTITY(1,1) NOT NULL,
	[IDKH] [int] NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_tb_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HOADON_CT]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOADON_CT](
	[IDCT] [int] IDENTITY(1,1) NOT NULL,
	[IDHD] [int] NOT NULL,
	[IDHH] [int] NOT NULL,
	[IDKHO] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_tb_HOADON_CT_1] PRIMARY KEY CLUSTERED 
(
	[IDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHACHHANG]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHACHHANG](
	[IDKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
 CONSTRAINT [PK_tb_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHO]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHO](
	[IDKHO] [nvarchar](50) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DISABLED] [bit] NULL,
 CONSTRAINT [PK_tb_KHO] PRIMARY KEY CLUSTERED 
(
	[IDKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHACUNGCAP]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHACUNGCAP](
	[IDNCC] [nvarchar](50) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DISABLED] [bit] NULL,
 CONSTRAINT [PK_tb_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHAPHANG]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHH] [int] NOT NULL,
	[IDNCC] [nvarchar](50) NOT NULL,
	[IDKHO] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_tb_NHAPHANG_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHOMHH]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHOMHH](
	[IDNHOM] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOMHH] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_NHOMHH] PRIMARY KEY CLUSTERED 
(
	[IDNHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TONKHO]    Script Date: 5/10/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TONKHO](
	[IDKHO] [nvarchar](50) NOT NULL,
	[IDHH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_tb_TONKHO] PRIMARY KEY CLUSTERED 
(
	[IDKHO] ASC,
	[IDHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHACUNGCAP] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[tb_NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[tb_HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHACUNGCAP]
GO
ALTER TABLE [dbo].[tb_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHOMHH] FOREIGN KEY([IDNHOM])
REFERENCES [dbo].[tb_NHOMHH] ([IDNHOM])
GO
ALTER TABLE [dbo].[tb_HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHOMHH]
GO
ALTER TABLE [dbo].[tb_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKH])
REFERENCES [dbo].[tb_KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[tb_HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[tb_HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCT_HANGHOA] FOREIGN KEY([IDHH])
REFERENCES [dbo].[tb_HANGHOA] ([IDHH])
GO
ALTER TABLE [dbo].[tb_HOADON_CT] CHECK CONSTRAINT [FK_HOADONCT_HANGHOA]
GO
ALTER TABLE [dbo].[tb_HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCT_HOADON] FOREIGN KEY([IDHD])
REFERENCES [dbo].[tb_HOADON] ([IDHD])
GO
ALTER TABLE [dbo].[tb_HOADON_CT] CHECK CONSTRAINT [FK_HOADONCT_HOADON]
GO
ALTER TABLE [dbo].[tb_HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCT_KHO] FOREIGN KEY([IDKHO])
REFERENCES [dbo].[tb_KHO] ([IDKHO])
GO
ALTER TABLE [dbo].[tb_HOADON_CT] CHECK CONSTRAINT [FK_HOADONCT_KHO]
GO
ALTER TABLE [dbo].[tb_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_HANGHOA] FOREIGN KEY([IDHH])
REFERENCES [dbo].[tb_HANGHOA] ([IDHH])
GO
ALTER TABLE [dbo].[tb_NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_HANGHOA]
GO
ALTER TABLE [dbo].[tb_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_NHACUNGCAP] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[tb_NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[tb_NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[tb_TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_HANGHOA] FOREIGN KEY([IDHH])
REFERENCES [dbo].[tb_HANGHOA] ([IDHH])
GO
ALTER TABLE [dbo].[tb_TONKHO] CHECK CONSTRAINT [FK_TONKHO_HANGHOA]
GO
ALTER TABLE [dbo].[tb_TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_KHO] FOREIGN KEY([IDKHO])
REFERENCES [dbo].[tb_KHO] ([IDKHO])
GO
ALTER TABLE [dbo].[tb_TONKHO] CHECK CONSTRAINT [FK_TONKHO_KHO]
GO
USE [master]
GO
