USE [master]
GO
/****** Object:  Database [KHO_BANHANG]    Script Date: 5/10/2025 2:42:42 PM ******/
CREATE DATABASE [KHO_BANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KHO_BANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KHO_BANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KHO_BANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KHO_BANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KHO_BANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KHO_BANHANG]
GO
/****** Object:  Table [dbo].[tb_DVT]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DVT](
	[IDDVT] [int] IDENTITY(1,1) NOT NULL,
	[TENDVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_DVT] PRIMARY KEY CLUSTERED 
(
	[IDDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HANGHOA]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HANGHOA](
	[IDHH] [int] IDENTITY(1,1) NOT NULL,
	[TENHH] [nvarchar](500) NULL,
	[DONGIA] [float] NULL,
	[MOTA] [nvarchar](2000) NULL,
	[DISABLED] [bit] NULL,
	[DVT] [nvarchar](50) NULL,
	[IDNCC] [nvarchar](50) NULL,
	[IDNHOM] [int] NULL,
 CONSTRAINT [PK_tb_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[IDHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HOADON]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOADON](
	[IDHD] [int] IDENTITY(1,1) NOT NULL,
	[IDKH] [int] NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_tb_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HOADON_CT]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOADON_CT](
	[IDCT] [int] IDENTITY(1,1) NOT NULL,
	[IDHD] [int] NOT NULL,
	[IDHH] [int] NOT NULL,
	[IDKHO] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_tb_HOADON_CT_1] PRIMARY KEY CLUSTERED 
(
	[IDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHACHHANG]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHACHHANG](
	[IDKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
 CONSTRAINT [PK_tb_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHO]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHO](
	[IDKHO] [nvarchar](50) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DISABLED] [bit] NULL,
 CONSTRAINT [PK_tb_KHO] PRIMARY KEY CLUSTERED 
(
	[IDKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHACUNGCAP]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHACUNGCAP](
	[IDNCC] [nvarchar](50) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DISABLED] [bit] NULL,
 CONSTRAINT [PK_tb_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHAPHANG]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHH] [int] NOT NULL,
	[IDNCC] [nvarchar](50) NOT NULL,
	[IDKHO] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_tb_NHAPHANG_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHOMHH]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHOMHH](
	[IDNHOM] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOMHH] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_NHOMHH] PRIMARY KEY CLUSTERED 
(
	[IDNHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TONKHO]    Script Date: 5/10/2025 2:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TONKHO](
	[IDKHO] [nvarchar](50) NOT NULL,
	[IDHH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_tb_TONKHO] PRIMARY KEY CLUSTERED 
(
	[IDKHO] ASC,
	[IDHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_DVT] ON 

INSERT [dbo].[tb_DVT] ([IDDVT], [TENDVT]) VALUES (1, N'Bao')
INSERT [dbo].[tb_DVT] ([IDDVT], [TENDVT]) VALUES (2, N'Chai')
INSERT [dbo].[tb_DVT] ([IDDVT], [TENDVT]) VALUES (3, N'Gói')
SET IDENTITY_INSERT [dbo].[tb_DVT] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_HANGHOA] ON 

INSERT [dbo].[tb_HANGHOA] ([IDHH], [TENHH], [DONGIA], [MOTA], [DISABLED], [DVT], [IDNCC], [IDNHOM]) VALUES (1, N'Phân bón N-P-K', 970000, N'Thành phần định lượng: Đạm tổng số (Nts): 15%; Lân hữu hiệu (P2O5hh): 5%;Kali hữu hiệu (K2O hh): 20%; Độ ẩm: 5%.', 0, N'Bao', N'CTKG', 1)
INSERT [dbo].[tb_HANGHOA] ([IDHH], [TENHH], [DONGIA], [MOTA], [DISABLED], [DVT], [IDNCC], [IDNHOM]) VALUES (2, N'Phân Bón Ra Hoa, Đậu Trái VIF-FLOWER', 40000, N'VIF-FLOWER được chiết xuất từ nguồn hữu cơ động vật với công nghệ tiên tiền bật nhất (Enzymic hydrolysis)của Tây Ban Nha', 0, N'Chai', N'KHKG', 1)
INSERT [dbo].[tb_HANGHOA] ([IDHH], [TENHH], [DONGIA], [MOTA], [DISABLED], [DVT], [IDNCC], [IDNHOM]) VALUES (14, N'Bugattee Super 150SC – Thuốc Trừ Sâu Và Côn Trùng', 69000, N'Chlorfenapyr ……….. 100 g/l. Phụ gia …………. vừa đủ 1 lít. Diệt trừ hiệu quả sâu cuốn lá lúa, bọ trĩ trên dưa hấu, nhện đỏ trên cây có múi, sâu xanh da láng trên đậu (đỗ)', 0, N'Chai', N'KTDT', 2)
SET IDENTITY_INSERT [dbo].[tb_HANGHOA] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_HOADON] ON 

INSERT [dbo].[tb_HOADON] ([IDHD], [IDKH], [NGAYLAP], [TONGTIEN]) VALUES (25, 3, CAST(N'2025-05-01T19:36:21.000' AS DateTime), 4850000)
INSERT [dbo].[tb_HOADON] ([IDHD], [IDKH], [NGAYLAP], [TONGTIEN]) VALUES (26, 2, CAST(N'2025-05-08T19:36:50.793' AS DateTime), 690000)
INSERT [dbo].[tb_HOADON] ([IDHD], [IDKH], [NGAYLAP], [TONGTIEN]) VALUES (27, 2, CAST(N'2025-05-02T19:37:08.000' AS DateTime), 5010000)
SET IDENTITY_INSERT [dbo].[tb_HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_HOADON_CT] ON 

INSERT [dbo].[tb_HOADON_CT] ([IDCT], [IDHD], [IDHH], [IDKHO], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (30, 25, 1, N'KDT1', 5, 970000, 4850000)
INSERT [dbo].[tb_HOADON_CT] ([IDCT], [IDHD], [IDHH], [IDKHO], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (31, 26, 14, N'KKG1', 10, 69000, 690000)
INSERT [dbo].[tb_HOADON_CT] ([IDCT], [IDHD], [IDHH], [IDKHO], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (32, 27, 1, N'KKG1', 5, 970000, 4850000)
SET IDENTITY_INSERT [dbo].[tb_HOADON_CT] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_KHACHHANG] ON 

INSERT [dbo].[tb_KHACHHANG] ([IDKH], [TENKH], [SDT], [EMAIL], [DIACHI]) VALUES (1, N'Vũ Ngọc Duy', N'0987654322', N'duyvu@gmail.com', N'200, ấp kênh 8B, xã Thạnh Đông A, huyện Tân hiệp, tỉnh Kiên Giang')
INSERT [dbo].[tb_KHACHHANG] ([IDKH], [TENKH], [SDT], [EMAIL], [DIACHI]) VALUES (2, N'Đạo Duy Pháp', N'0986986746', N'phapdao@gmail.com', N'302, ấp kênh 8B, xã Thạnh Đông A, huyện Tân Hiệp, tỉnh Kiên Giang')
INSERT [dbo].[tb_KHACHHANG] ([IDKH], [TENKH], [SDT], [EMAIL], [DIACHI]) VALUES (3, N'Lê Thị Mỹ Duyên', N'0335193493', N'duyenle@gmail.com', N'400, ấp Đông Thạnh, huyện Châu Thành, tỉnh Kiên Giang')
SET IDENTITY_INSERT [dbo].[tb_KHACHHANG] OFF
GO
INSERT [dbo].[tb_KHO] ([IDKHO], [TENKHO], [SDT], [DIACHI], [DISABLED]) VALUES (N'KDT1', N'Kho Đồng Tháp', N'0379134123', N'164, Lê Đại Hành, Cao Lãnh, Đồng Tháp', 0)
INSERT [dbo].[tb_KHO] ([IDKHO], [TENKHO], [SDT], [DIACHI], [DISABLED]) VALUES (N'KKG1', N'Tổng Kho Kiên Giang', N'0986986746', N'2, ấp kênh 8B, xã Thạnh Đông A, huyện Tân Hiệp, tỉnh Kiên Giang', 0)
INSERT [dbo].[tb_KHO] ([IDKHO], [TENKHO], [SDT], [DIACHI], [DISABLED]) VALUES (N'KKG2', N'Kho Châu Thành Kiên Giang', N'0773730337', N'230, kênh 5A, xã Hòa Hiệp, huyện Châu Thành, tỉnh Kiên Giang', 0)
GO
INSERT [dbo].[tb_NHACUNGCAP] ([IDNCC], [TENNCC], [SDT], [EMAIL], [DIACHI], [DISABLED]) VALUES (N'CTKG', N'Công ty cổ phần phân bón Châu Thành', N'0347789789', N'chauthanh04KG@gmail.com', N'435, xã Thạnh Đông, huyện Châu Thành, tỉnh Kiên Giang', 0)
INSERT [dbo].[tb_NHACUNGCAP] ([IDNCC], [TENNCC], [SDT], [EMAIL], [DIACHI], [DISABLED]) VALUES (N'KHKG', N'Công ty thuốc bảo vệ thực vật Kim Huê', N'0335193493', N'KimHueKG@gmail.com', N'160, quốc lộ 80, huyện Tân Hiệp, tỉnh Kiên Giang', 0)
INSERT [dbo].[tb_NHACUNGCAP] ([IDNCC], [TENNCC], [SDT], [EMAIL], [DIACHI], [DISABLED]) VALUES (N'KTDT', N'Công ty TNHH thuốc BVTV Khuê Thìn', N'0389456456', N'khuethinbvtv@gmail.com', N'278, ấp Tân Định, Cao Lãnh, Đồng Tháp', 0)
GO
SET IDENTITY_INSERT [dbo].[tb_NHAPHANG] ON 

INSERT [dbo].[tb_NHAPHANG] ([ID], [IDHH], [IDNCC], [IDKHO], [SOLUONG], [NGAYNHAP], [DONGIA]) VALUES (1013, 1, N'CTKG', N'KKG1', 500, CAST(N'2025-05-01T16:21:54.000' AS DateTime), 700000)
INSERT [dbo].[tb_NHAPHANG] ([ID], [IDHH], [IDNCC], [IDKHO], [SOLUONG], [NGAYNHAP], [DONGIA]) VALUES (1014, 2, N'KHKG', N'KKG1', 200, CAST(N'2025-05-08T16:22:55.457' AS DateTime), 25000)
INSERT [dbo].[tb_NHAPHANG] ([ID], [IDHH], [IDNCC], [IDKHO], [SOLUONG], [NGAYNHAP], [DONGIA]) VALUES (1015, 14, N'KHKG', N'KKG1', 300, CAST(N'2025-05-08T16:23:24.947' AS DateTime), 40000)
SET IDENTITY_INSERT [dbo].[tb_NHAPHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_NHOMHH] ON 

INSERT [dbo].[tb_NHOMHH] ([IDNHOM], [TENNHOMHH]) VALUES (1, N'Phân bón')
INSERT [dbo].[tb_NHOMHH] ([IDNHOM], [TENNHOMHH]) VALUES (2, N'Thuốc trừ sâu')
INSERT [dbo].[tb_NHOMHH] ([IDNHOM], [TENNHOMHH]) VALUES (3, N'Thuốc trừ bệnh')
SET IDENTITY_INSERT [dbo].[tb_NHOMHH] OFF
GO
INSERT [dbo].[tb_TONKHO] ([IDKHO], [IDHH], [SOLUONG]) VALUES (N'KDT1', 1, 490)
INSERT [dbo].[tb_TONKHO] ([IDKHO], [IDHH], [SOLUONG]) VALUES (N'KDT1', 15, 290)
INSERT [dbo].[tb_TONKHO] ([IDKHO], [IDHH], [SOLUONG]) VALUES (N'KKG1', 1, 488)
GO
ALTER TABLE [dbo].[tb_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHACUNGCAP] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[tb_NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[tb_HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHACUNGCAP]
GO
ALTER TABLE [dbo].[tb_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHOMHH] FOREIGN KEY([IDNHOM])
REFERENCES [dbo].[tb_NHOMHH] ([IDNHOM])
GO
ALTER TABLE [dbo].[tb_HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHOMHH]
GO
ALTER TABLE [dbo].[tb_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKH])
REFERENCES [dbo].[tb_KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[tb_HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[tb_HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCT_HANGHOA] FOREIGN KEY([IDHH])
REFERENCES [dbo].[tb_HANGHOA] ([IDHH])
GO
ALTER TABLE [dbo].[tb_HOADON_CT] CHECK CONSTRAINT [FK_HOADONCT_HANGHOA]
GO
ALTER TABLE [dbo].[tb_HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCT_HOADON] FOREIGN KEY([IDHD])
REFERENCES [dbo].[tb_HOADON] ([IDHD])
GO
ALTER TABLE [dbo].[tb_HOADON_CT] CHECK CONSTRAINT [FK_HOADONCT_HOADON]
GO
ALTER TABLE [dbo].[tb_HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCT_KHO] FOREIGN KEY([IDKHO])
REFERENCES [dbo].[tb_KHO] ([IDKHO])
GO
ALTER TABLE [dbo].[tb_HOADON_CT] CHECK CONSTRAINT [FK_HOADONCT_KHO]
GO
ALTER TABLE [dbo].[tb_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_HANGHOA] FOREIGN KEY([IDHH])
REFERENCES [dbo].[tb_HANGHOA] ([IDHH])
GO
ALTER TABLE [dbo].[tb_NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_HANGHOA]
GO
ALTER TABLE [dbo].[tb_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_NHACUNGCAP] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[tb_NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[tb_NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[tb_TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_HANGHOA] FOREIGN KEY([IDHH])
REFERENCES [dbo].[tb_HANGHOA] ([IDHH])
GO
ALTER TABLE [dbo].[tb_TONKHO] CHECK CONSTRAINT [FK_TONKHO_HANGHOA]
GO
ALTER TABLE [dbo].[tb_TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_KHO] FOREIGN KEY([IDKHO])
REFERENCES [dbo].[tb_KHO] ([IDKHO])
GO
ALTER TABLE [dbo].[tb_TONKHO] CHECK CONSTRAINT [FK_TONKHO_KHO]
GO
USE [master]
GO
